
body {
    margin: 0;
    padding: 0;
}
/**********************************main section starts here*********************************************/

.main {
    margin-left: 0px;
}

.container {
    margin-left: 0;  
}

.text-field { 
    position: absolute;
    padding-bottom: 120px !important;
    resize: none;
}


/**************************************************bottom bar *******************************************/

.new{
	background-color:#0C9;
}

.new:hover{
    color:#FFF;
} 

.delete {
	background-color:#fb8500;
}

.delete:hover{
    color: #fff;
}

.open {
	background-color:#ef233c;
}

.open:hover{
    color: #fff;
}

.save {
    background-color:#9d4edd;
    color: #fff;
}

.save:hover{
    color: #fff;
    cursor: pointer;
}

.save:focus{
    outline: 0;
}


.bottom-bar{
    border-radius: 40px;
    background-color: #e9ecef;
    position:fixed;
    bottom: 40px;
    height: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s, transform 0.3s;
}

.bottom-bar:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    transform: translate(-50%, -5px);
}

.bottom-btn {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    display: inline-block;
    border-radius: 50px !important;
    color:#FFF;
    text-align:center;
    transition: transform 0.3s;
}

.bottom-btn:hover {
    transform: scale(1.1);
}

.dropup {
    display: inline;
}

/***************************************** top bar css starts here*********************************/


.user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sync {
    color: #000000;
}

.sync:hover{
    color: #000000;
}

.sync:focus{
    outline: 0;
    text-decoration: none;
}


.bd-highlight{
     background-color: #edf6f9;
}

input{
    border-radius: 5px;
    border-color: #e5e5e5;
    width: 100px;
}

input[type=text]{
    text-align: center;
}

/******************************************user modal******************************/


.logout {
    font-size: 20px;
    color: #fff;
    background-color: #0f4c5c;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    letter-spacing: 2px;
    margin-left: 28%;
}

.logout:hover{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.user-name{
    font-weight: 400;
    font-size: 26px;
    margin-top: 15px;
}

.email-id {
    margin-bottom: 30px;
}


