
body {
    margin: 0;
    padding: 0;
}
/**********************************main section starts here*********************************************/

.main {
    margin-left: 0px;
}

.container {
    margin-left: 0;  
}

.text-field { 
    /* padding: 50px;  main text area starts her */
    position: absolute;
    padding-bottom: 120px !important;
    resize: none;
}


/**************************************************bottom bar *******************************************/

.new{
	background-color:#0C9;
}

.new:hover{
    color:#FFF;
} 

.delete {
	background-color:#fb8500;
}

.delete:hover{
    color: #fff;
}

.open {
	background-color:#ef233c;
}

.open:hover{
    color: #fff;
}

.save {
    background-color:#9d4edd;
    color: #fff;
}

.save:hover{
    color: #fff;
    cursor: pointer;
}

.save:focus{
    outline: 0;
}


.bottom-bar{
    border-radius: 40px;
    background-color: #e9ecef;
    position:fixed;
    bottom: 40px;
    /* width: 750px; */
    height: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    /* box-shadow: 2px 2px 3px #999; */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s, transform 0.3s;
}

.bottom-bar:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -5px);
}

.bottom-btn {
    width: 60px;
    height: 60px;
    /* margin: 10px 10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    display: inline-block;
    border-radius: 50px !important;
    color:#FFF;
    text-align:center;
    /* box-shadow: 2px 2px 3px #999; */
    /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); */
    transition: transform 0.3s;
}

.bottom-btn:hover {
    transform: scale(1.1);
}

.dropup {
    display: inline;
}

/***************************************** top bar css starts here*********************************/


.login {
    font-size: 20px;
    color: #fff;
    background-color: #0f4c5c;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    letter-spacing: 2px;
    /* width: 135px; */
    
}

.login:hover{
    color: #fff;
}

.user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1px;
    margin-right: 10px;
}

.sync {
    color: #000000;
    margin-top: 20px;
}

.sync:hover{
    color: #000000;
}

.sync:focus{
    outline: 0;
    text-decoration: none;
}


.navbar h1 {
    letter-spacing: 2px;
}