<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">       

    <title>Clippy</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="icon" type="image/svg" href="static/styles/images/clippy_logo.svg" class="fav">

</head>
<body> 
    <div class="container-fluid landing-page ">
        <div class="row">
        
            <div class="col-md-5 text_column offset-md-1">

                <h1 class="overlay-heading">Clippy</h1>
                <hr>
                <h3 class="subheading">The overpowered clipboard</h3>

                <img src="static/styles/images/landing.png" class=" d-md-none img-fluid image-small">

                <p class="overlay-text">Share text to multiple devices with realtime sync. Sign in with the same account on multiple devices to see the magic!
                    A safe place to save your clips. View same document on multiple devices at same point of time.
                </p>

                <div class="google-btn">
                    <div class="google-icon-wrapper">
                      <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                    </div>
                    <p id="google-signin" class="btn-text"><b>Sign in with google</b></p>
                </div>

            </div>

            <div class="col-md-5 col-lg-4  offset-md-1">
                <img src="static/styles/images/landing.png " class="img-fluid landing-img d-none d-md-block">
            </div>
        </div>

    </div>

    <div class="whole">

        <div class="d-flex bd-highlight">

            <div class="mr-auto bd-highlight">
                <form class="form-inline ">
                    <input id="clip-name" class="mt-4 ml-4 clip-name" type="text" placeholder="Untitled" >
                </form>
            </div>

            <div class="mr-3 mt-2 bd-highlight text-center">
                <a class="sync ml-3 text-center">
                    <i class="fa fa-refresh fa-lg sync-icon" aria-hidden="true"></i><br>
                    <p>Auto Sync Active</p>
                </a>
            </div>

            <div class=" mr-3 mt-2  dropright ">
                
                <a  class="text-center" data-toggle="dropdown"> <img id="profile-img" src="/static/styles/images/user.png" class="user"></a>

                <div id="profile" class="dropdown-menu mt-4 ">

                    <img id="profile-img-lg" src="/static/styles/images/user.png" class=" dropdown-item ">
                    <h3 class="dropdown-item user-name  text-center">Shwetal Soni</h3>
                    <p class="dropdown-item email-id text-center">sonishwetal704@gmail.com</p>
                    <p class="dropdown-item text-center">
                        <a id="login-btn" class="logout">Sign in</a>
                    </p>
                </div>

            </div>
    
        </div>

        <textarea id="textarea" style="min-width: 100%" class="form-control text-field"></textarea>

        <div class="row text-center">

            <div class="col-md-10 mx-auto">

                <div class="bottom-bar text ">

                    <a id="delete_btn" class="delete mx-0 mx-md-2 mx-lg-4 bottom-btn">
                        <i class="fa fa-trash fa-lg my-float" aria-hidden="true"></i>
                    </a>
            
                    <a id="new-btn" class="new mx-0 mx-md-2 mx-lg-4 bottom-btn">
                        <i class="fa fa-plus fa-lg my-float"></i>
                    </a>
            
                    <a id="open-btn" class="open mx-0 mx-md-2 mx-lg-4 bottom-btn">
                        <i class="fa fa-file fa-lg my-float" aria-hidden="true"></i>
                    </a>

                    <div class=" mx-0 mx-md-2 mx-lg-4  dropup ">
                        <a id="clips-btn" class="dropdown-toggle save bottom-btn text-center" data-toggle="dropdown"><i class="fa fa-file-text fa-lg my-float" aria-hidden="true"></i></a>
                        <div id="recent-clip-list" class="dropdown-menu">
                            <a class="dropdown-item recent-clip">Clip 1</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item recent-clip">Clip 2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item recent-clip">Clip 3</a>
                        </div>
                    </div>

                </div>

            </div>
        
        </div>

    </div>
       
    


    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-auth.js"></script>
    <script src="/static/scripts/main.js"></script>
   
    
</body>
</html>